@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
}
strong, b {
  font-weight: 700;
}
button {
  cursor: pointer;
  padding: 5px 10px;
}
@media (min-width: 768px) {
  .forMobile {
    display: none!important;
  }
}
@media (max-width: 767px) {
  .forDekstop {
    display: none!important;
  }
}

div {
  margin-bottom: 20px;
}

.bobrderNone {
  border: none
}
.borderyes {
  border: 1px solid #f0f;
}
.act1 {
  font-weight: 400;
  color: #00f;
}
.act2 {
  font-weight: 900;
  color: #c00;
}