<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="robots" content="none"/>
  <title>Vue trening</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- версия для разработки, отображает полезные предупреждения в консоли -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

  <script src="https://unpkg.com/vue@next"></script> <!-- для vue 3 для создания прототипов или обучения -->

  <!-- production-версия, оптимизированная для размера и скорости -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

</head>
<body>

  <div class="counter"></div>

  <div class="invvod">
    <p>Введённое в инпут: {{ vvod }}</p>
    <input type="text" v-model='vvod'>
  </div>

  <div class="ifseen">
    <p>Если true/false: <span v-if='seen'>true</span></p>
  </div>

  <div class="olspisok">
    <ol>
      <li v-for="spis in spisok" :key="spis.id">
        {{ spis.id * 3 }}
        {{ spis.text }}
      </li>
    </ol>
  </div>

  <div class="comp">
    <ul>
      <spisok-li
        v-for="spisk in spiskli"
        :spis="spisk"
        :key="spisk.id"
      ></spisok-li>
    </ul>
  </div>



  <script src="js/main.js"></script>
</body>
</html>
