<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="robots" content="none"/>
  <title>Vue trening</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <!-- версия для разработки, отображает полезные предупреждения в консоли -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

  <script src="https://unpkg.com/vue@next"></script> <!-- для vue 3 для создания прототипов или обучения -->

  <!-- production-версия, оптимизированная для размера и скорости -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

</head>
<body>

  <div id="counter"></div>

  <div id="list">
    <ul>
      <li v-for="list in lists" :key="list.id">
        {{ list.id }} | {{ list.text }}
      </li>
    </ul>
  </div>

  <div id="todo-list-app">
    <ol>
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>

  <div id="ekz">{{ ekz }}</div>

  <div id="components-demo">
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

  
  <div id="blog-posts-demo">
    <p>Передача данных дочерним компонентам с помощью свойств</p>
    <blog-post
      v-for="post in posts"
      :key="post.id"
      :title="post.title"
    ></blog-post>
  </div>


  <div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <p>Увеличить text:</p>
      <blog-post
         v-for="post in posts"
         :key="post.id"
         :title="post.title"
         @enlarge-text="postFontSize += 0.1"
      ></blog-post>
    </div>
  </div>




  <script src="js/main.js"></script>
</body>
</html>
